@model CadastroProdutoViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Solicitar o cadastro de um produto</h3>
<span class="texto2">Selecione a categoria do Produto</span>

<form action="/Produto/SalvarProduto" method="post" enctype="multipart/form-data">

    <div class="categoria">
        @foreach (var categoria in Model.Categorias)
        {
            <input type="radio" name="CategoriaId" id="CategoriaId" value="@categoria.Id">
            @categoria.Nome
        }
    </div>
       <div class="">
        <span class="texto2">Nome do Produto</span>
        <input class="info_busca_produto" type="text" name="Nome" required>
    </div>


    <div class="palavra-chave">
        <span class="texto2">Palavras-Chave</span>
        <input class="info_busca_produto" type="text" name="PalavraChave" required>
    </div>

    <div>
        <span class="texto2">Selecione a Imagem do Produto</span><br />
        <input type="file" name="File" required />
      
    </div>

    <button class="button ">Enviar para Cadastro</button>
</form>