@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h4>Bem-vindo ao Muamba!</h4>
<h3>Quem Somos (A solução...)</h3>
<p class="texto1">Um site que visa conectar pessoas interessadas em comprar produtos de fora do país com pessoas viajantes que estão à disposição para trazer encomendas.</p>

<h3>Era um problema...</h3>
<p class="texto1">Existem pessoas que gostam de comprar produtos de fora do país, existem outras que viajam muito e estão dispostas a trazer produtos do exterior. Mas, nota-se uma dificuldade em conectar ambas as partes</p>

<h3>Nosso Objetivo</h3>
<p class="texto1">Facilitar o encontro entre viajantes dispostos a trazer encomendas com pessoas que desejam comprar um produto de fora do país e, oferecer canais de comunicação entre viajantes e compradores.</p>


<h3>Nossa Missão</h3>
<p class="texto1">Nossa missão é romper fronteiras para que todos possam encontrar seus produtos favoritos, independente da cidade em que morem, simplificar e facilitar o comércio global, tornando possível a aquisição de produtos exclusivos de qualquer parte do mundo.</p>
<h4>Com o Muamba, acreditamos que o mundo está mais conectado do que nunca! </h4>

<h3>Nossa Visão</h3>
<p class="texto1"> Em um mundo cada vez mais globalizado, acreditamos que a diversidade cultural e a acessibilidade a produtos únicos enriquecem a vida de todos.         Queremos promover o comércio justo, conectar as pessoas e tornar os produtos exclusivos mais acessíveis. Compartilhamos a visão de que a globalização         pode ser uma força positiva, unindo pessoas de diferentes origens e culturas.</p>



<h3>Projeto PUC Minas - Eixo 2</h3>

<div class="linha">
    <div>
        <div class="cards">
            <img class="img_cards" src="~/img/puc.jpg">
            <p class="texto2"><strong>Orientador:</strong> Carlos Pietrobon</p>
        </div>
    </div>

  
</div>


<h3>Fundandores</h3>

<div class="linha">
    <div class="coluna-30">
        <div class="cards">
            <img class="img_cards" src="~/img/Douglas.jpeg">
            <p class="texto2"><strong>Douglas Ferreira</strong></p>
            <span class="texto2">Founder CEO </span>
        </div>
    </div>

    <div class="coluna-30">
        <div class="cards">
            <img class="img_cards" src="~/img/Larissa.jpeg" height="100px" width="100px">
            <p class="texto2"><strong>Larissa Ferreira</strong></p>
            <span class="texto2">Founder CEO</span>
        </div>
    </div>
</div>
<br />

<div class="linha">
    <div class="coluna-30">
        <div class="cards">
            <img src="~/img/Liana.jpeg" height="100px" width="100px">
            <p class="texto2"><strong>Liana Nagasawa</strong></p>
            <span class="texto2"> Founder CEO</span>
        </div>
    </div>

    <div class="coluna-30">
        <div class="cards">
            <img src="~/img/Pedro.jpg" height="100px" width="100px">
            <p class="texto2"><strong>Pedro Victor</strong></p>
            <span class="texto2"> Founder CEO</span>
        </div>
    </div>
</div>



