@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="text-center">
    <center> <h1 class="display-4">Compre em qualquer lugar, viaje para todos os lugares</h1> </center>
   
   <p>
</div>
<formater>
    <div>
    Bem-vindo ao Muamba!</div> Somos uma plataforma revolucionária que conecta compradores e vendedores de todo o mundo por meio de viajantes internacionais.
     Nossa missão é simplificar e facilitar o comércio global, tornando possível a aquisição de produtos exclusivos de qualquer parte do planeta.
        No Muamba, acreditamos que o mundo está mais conectado do que nunca. Com tantos viajantes internacionais explorando
        diferentes países e culturas, surgiu uma oportunidade única para a compra e venda de mercadorias exclusivas que, de outra forma, seriam inacessíveis.
        Conectamos compradores que desejam adquirir produtos específicos, raros ou autênticos com viajantes que desejam trazer esses itens em suas viagens.
                Isso significa que você pode encontrar produtos genuínos de todas as partes do mundo, diretamente em sua porta.
            </formater>

        <center>  <h1 class="display-4">Nossa Visão</h1> </center>
        Em um mundo cada vez mais globalizado, acreditamos que a diversidade cultural e a acessibilidade a produtos únicos enriquecem a vida de todos.
        Queremos promover o comércio justo, conectar as pessoas e tornar os produtos exclusivos mais acessíveis. Compartilhamos a visão de que a globalização
        pode ser uma força positiva, unindo pessoas de diferentes origens e culturas.
<center>  <h1 class="display-4">Fundandores</h1> </center>

<ul>
    <li>
        <img src="~/img/Douglas.jpeg" height="100px" width="100px">
        <p>
            Douglas Ferreira<div></div>
        Founder CEO </p>
    </li>

    <li>
        <img src="~/img/Larissa.jpeg" height="100px"  width="100px">
        <p>
            Larissa Ferreira<div></div>
            Founder CEO
        </p>
    </li>
    <li>
        <img src="~/img/Liana.jpeg" height="100px" width="100px">
        <p>
            Liana Nagasawa<div></div>
            Founder CEO
        </p>
    </li>
    <li>
        <img src="~/img/Pedro.jpg" height="100px" width="100px">
        <p>
            Pedro Victor<div></div>
            Founder CEO
        </p>
    </li>
</ul>

          No Muamba, nossa visão é romper fronteiras para que todos possam encontrar seus produtos favoritos, independente da cidade em que morem.
    </p>
