@using System.Security.Claims;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Muamba</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <img class="img_fundo" src="~/img/mapa.jpg" alt="">
        <img class="logo_header" src="~/img/logo_muamba.JPG" alt="">
        <nav>
            <ul class="nav_superior">
                <li>
                    <a href="/Negociacao/AnunciarViagem">Anunciar Viagem</a>
                </li>
                <li>
                    <a href="/Produto">Buscar Produtos</a>
                </li>
                <li>
                    <a href="/Negociacao/Negociacoes">Negociações</a>
                </li>
                <li>
                    <a href="/Negociacao/Avaliacoes">Minhas Avaliações</a>
                </li>
                <li>
                    @if (User.Claims.FirstOrDefault(u => u.Type == ClaimTypes.NameIdentifier) != null)
                    {
                        <span>Olá, @User.Claims.FirstOrDefault(u => u.Type == ClaimTypes.NameIdentifier).Value.ToString()</span>
                        <a class="login" href="/Usuarios/Logout">Logout</a>

                    }
                    else
                    {
                        <a class="login" href="/Usuarios/Login">Login</a>
                    }
                </li>
            </ul>
        </nav>
    </header>



    <aside>
        @RenderBody()
    </aside>

    <footer class="linha">

        <div class="coluna-30">
            <ul class="nav_inferior">
                <li>
                    <a href="/Home/QuemSomos">Quem Somos</a>
                </li>
                <li>
                    <a href="/ComoFunciona/Index">Como Isso Funciona?</a>
                </li>
                <li>
                    <a href="/ComoFunciona/ComoFuncionaComprador">Para Compradores</a>
                </li>
                <li>
                    <a href="/ComoFunciona/ComoFuncionaViajante">Para Viajantes</a>
                </li>
                <li>
                    <a href="/Produto/BuscarProduto">Produtos</a>
                </li>
                <li>
                    <a href="/Negociacao/Avaliacoes">Minhas Avaliações</a>
                </li>
                <li>
                    <a href="/Cadastro/Login">Login</a>
                </li>
            </ul>
        </div>


        <div class="coluna-30">
            <ul>
                <li>
                    <a href="/ComoFunciona/TermosDeUso">Termos de Uso</a>
                </li>
                <li>
                    <a href="/ComoFunciona/PoliticaDePrivacidade">Política de Privacidade</a>
                </li>
                <li>
                    <a href="/ComoFunciona/">Ajuda</a>
                </li>
            </ul>
        </div>

        <div>
            <img class="logo_footer" src="~/img/logo_muamba.JPG" alt="">
        </div>
        </div>
    </footer>




    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
