@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="text-center">
    <h1 class="display-4">Como viajar e ganhar dinheiro?</h1>
    Ganhe dinheiro durante sua viagem toda vez que viajar com a Muamba. Os viajantes podem entregar varios itens. 
    Você não só vai ganhar dinheiro viajando, como vai encontrar pessoas incríveis ao longo do caminho.
    <p>
        <h1 class="display-4">1- Faça uma oferta para um comprador</h1>
        <center>
            <img src="~/img/Mochila.jpg" height="20%" width="20%"> <div>
            </div>
        </center>
        Procure os pedidos de entrega de compradores na sua cidade de destino e faça uma oferta que funcione para você
        e dessa forma será possivel visualizar as opções disponíveis. 
        Faça uma oferta e defina sua recompensa de viajante e a quantia de dinheiro que seu comprador irá pagar pela entrega do item.
        <h1 class="display-4">2- Receba ofertas de entrega de viajantes verificados indo para a sua cidade</h1>
        <center>
            <img src="~/img/Telefone em maos.jpg" height="20%" width="20%"> <div>
            </div>
        </center>
        Confirme os detalhes do pedido com o seu comprador. Os Viajantes da Muamba com destino para a sua cidade farão ofertas para entregar o seu produto
        e para facilitar você pode se comunicar para confirmar os detalhes do seu pedido com o seu comprador, como por exemplo a cor do produto. 
        <h1 class="display-4">3- Pague pelo seu pedido de forma segura</h1>
        <center>
            <img src="~/img/compra-online-1024x684.jpg" height="20%" width="20%"> <div>
            </div>
        </center>
        Compre o item com seu própio dinheiro e escolha a oferta que deseja e pague pela entrega do seu produto com pagamento seguro da Muamba.
        O seu pagamento é protegido e garantida pela Muamba até que você confirme a entrega do produto.
        Dessa forma, você sabe exatamente o que está trazendo. Após a entrega, você será reembolsado pelo preço do item junto 
        com o pagamento da sua recompensa
        <h1 class="display-4">4- Receba o seu produto</h1>
        <center>
            <img src="~/img/Compras.jpg" height="20%" width="20%"> <div>
            </div>
        </center>
        Entregue o pedido do seu comprador e receba o pagamento
        Organize um horário em local público para encontrar o seu comprador. 
        Quando o seu comprador confirmar que recebeu o pedido, a muamba transfere o pagamento para a sua conta.
    </p>
</div>