@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="text-center">
    <h1 class="display-4">Como comprar com a Muamba?</h1>
    <p>
        Muamba é a melhor maneira de comprar produtos que não estão disponíveis ou que são muito caros no seu país.
        Você pode pedir praticamente qualquer coisa com a Muamba, de brinquedos, roupas e eletrônicos.
        <h1 class="display-4">1- Crie o seu pedido</h1>
        <center> 
        <img src ="~/img/Crie o seu pedido.jpg" height="30%" width="30%"> <div>
        </div>
        </center>
         Nos fale sobre o item que você está procurando, para que possa obter qualquer item do mundo. Comece
        criando o seu pedido para o produto desejado e inclua os detalhes, como local onde o viajante pode comprar 
        e o valor do produto. Para facilitar procure o produto internacional que deseja em lojas online e envie o link 
        para o comprador da Muamba. 
        <h1 class="display-4">2- Receba ofertas de entrega de viajantes verificados indo para a sua cidade</h1>
        <center>
            <img src ="~/img/pessoa-esperando-comida-no-restaurante_23-2149269219.jpg" height ="30%" width ="30%"> <div>
            </div>
        </center>
        Depois de publicar o seu pedido, nós vamos compartilhar com toda a nossa comunidade de viajantes.
        Em seguida, os viajantes que estiverem indo para a sua cidade farão ofertas para entregar o seu produto.
        Viajantes da Muamba com destino para a sua cidade farão ofertas para entregar o seu produto.
        <h1 class="display-4">3- Pague pelo seu pedido de forma segura</h1>
        <center>
        <img src="~/img/Telefone.jpg" height="30%" width="30%"> <div>
        </div>
        </center>
        Escolha a oferta que deseja e pague pela entrega do seu produto com pagamento seguro da Muamba. O seu pagamento
        é protegido e garantida pela Muamba até que você confirme a entrega do produto.
        Muamba calcula automaticamente todos os impostos e taxas aplicáveis, incluindo a recompensa monetária que você aceita pagar ao viajante pela entrega do item.
        Se seu viajante não entregar o seu pedido por qualquer motivo, você receberá o reembolso total do valor.
        <h1 class="display-4">4- Receba o seu produto</h1>
        <center>
            <img src="~/img/Sacola.jpg" height="30%" width="30%"> <div>
            </div>
        </center>
        Encontre com o viajante para receber o seu pedido.
        Marque o horário em um local público para encontrar o viajante.
        Quando você receber o item, confirme a entrega para que o pagamento dele seja enviado.
    </p>
</div>
