@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="text-center">
    <h1 class="display-4">Como Isso Funciona?</h1>
    <center>
        <img src="~/img/interrogação.jpg" height="20%" width="20%"> <div>
        </div>
    </center>
    <p>
        <div> <h1> <font size="3%">Compre de qualquer lugar, viaje para qualquer lugar.</font></h1> </div>
        Existem pessoas que gostam de comprar produtos de fora do país.  Existem pessoas que viajam muito e estão dispostas a trazer produtos de fora do país, mas, as pessoas encontram dificuldades em se conectar com outras pessoas para ambos os interesses.
        Foi ai então que surgiu a Muamba uma comunidade global que une compradores com viajantes,
        permitindo que os compradores obtenham itens exclusivos ou difíceis de encontrar localmente,
         e permitindo com que o viajante financie a sua viagem. A Muamba tem um jeito seguro, rápido e fácil de comprar produtos de qualquer lugar do mundo e ganhar dinheiro viajando.
            
    </p>
</div>
